fastapi[standard]
uvicorn
kokoro-onnx[gpu]>=0.3.6
onnxruntime-gpu>=1.20.1
soundfile
sqlalchemy
aiosqlite
python-multipart
pytest
httpx
pytest-asyncio
psutil
ctranslate2[cuda]
sentencepiece
huggingface-hub
transformers
tabulate
nltk
